

a:hover{
    color:chartreuse;
}
a:link{
    color:blue;
}
a:visited{
    color:red;
}
a:active{
    color:pink;
}
.learn{
    margin:0;
    
    display:inline-block;
    background-color: aquamarine;
    text-decoration:none;
}

li{
    list-style-type: none;
}
