a:hover{
    color:chartreuse;
}
a:link{
    color:blue;
}
a:visited{
    color:red;
}
a:active{
    pink;
}
.learn{
    border:2px solid yellow;
    display:inline-block;
    background-color: aquamarine;
    color:darkmagenta;
}