#thân1{
    background-image: url("khung long.jpg")  ;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    }
#Tiêu1 {
   color:rgb(20, 220, 127);
}