#thân1{
    background-image: url("b836a0f6a389ca4e7773b74ff431eeab.png")  ;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    }
#Tiêu1 {
   color:rgb(20, 220, 127);
}