a:hover{
    color:chartreuse;
}
a:link{
    color:blue;
}
a:visited{
    color:red;
}
a:active{
    pink;
}
*{
    margin:5px;
}
body{
    background-image: url("");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat:no-repeat ;
}
