body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: -webkit-gradient(linear, left top, right top, from(#8a4df4), to(#ff914d));
    background: -o-linear-gradient(left, #8a4df4, #ff914d);
    background: linear-gradient(to right, #8a4df4, #ff914d);
    height: 400px; 
    
}
.xem{
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.navbar {
    position: absolute;
    top: 20px;
    right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.navbar a {
    color:#8a4df4;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
    color:#a200ff;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
}

.content {
    font-size: 70px;
    font-weight: bold;
}

.content span {
    display: block;
}
.content{
    margin-bottom: 100px;
}
.web {
    margin-left: -100px ;
    color: #b24dcf;
   
}

.xem-phim {
    color: #a200ff;
}

.yeu-thich {
    margin-left: 150px;
    color: #c64b00;
}
a{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
    
}
.text{
   opacity:0.5
    
}
